@font-face {
    font-family: 'saveya';
    src: url('../assets/fonts/Saveya.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'editorial';
    src: url('../assets/fonts/Editorial.otf') format('opentype');
  }
  